<h2>{{name}}</h2>
<div class="item__descr">
  <p><b>Capital: </b>{{capital}}</p>
  <p><b>Population: </b>{{population}}</p>
  <p><b>Region: </b>{{region}}</p>
</div>
<img src="{{flag}}" alt="" width="200px">
